* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
.header {
  background-color: rgb(132, 123, 55);
  text-align: center;
  position: fixed;
  width: 100vw;
  z-index: 999;
  color: blanchedalmond;
  top: 0px;
}
.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: rgb(34, 168, 217);
  min-height: 100vh;
  padding-top: 75px;
  gap: 30px;
  padding-bottom: 75px;
}

.card {
  border: solid;
  border-radius: 15px;
  border-color: blanchedalmond;
  gap: 15px;
  width: 50vw;
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  padding: 25px;
  margin: 5px;
}
.answer {
  width: 20vw;
  background-color: rgb(132, 123, 55);
  border-radius: 10px;
  gap: 10px;
}
p {
  text-align: center;
}
.nav {
  display: flex;
  flex-direction: row;
  z-index: 99;
  justify-content: space-evenly;
  background-color: rgb(132, 123, 55);
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100vw;
  z-index: 99999999;
}
.navlogo {
  height: 35px;
}
.book {
  position: absolute;
  height: 25px;
  width: 25px;
  top: -10px;
  right: 15px;
}
.button {
  align-self: flex-start;
  color: rgb(132, 123, 55);
}
/*
ALGO ESTOY HACIENDO MAL CON LA SINTAXIS EN EL HTML, LAS CLASES
NO AFECTAN A LO QUE DEBERÍAN, ACABO TENIENDO QUE HACER ENSAYO/
ERROR.
POSIBLEMENTE LA "LONGITUD" DE LA PÁGINA ESTÁ MAL TOCADA. PUSE
100vh EN EL .container, NO SÉ SI ESO ES CORRECTO, O ES UNA 
CHAPUZA.
MISMO PROBLEMA DE SINTAXIS PARA COLOCAR LOS BOOKMARS EN LAS
.cards, TENGO LA CLASE .book DENTRO DE img Y ACTÚA COMO SI 
ESTUVIESE EN CONTAINER, EN VEZ DE MOVERSE
DENTRO DE .card. LO CONSEGUÍ CON margin-top PERO CHAPUZA!!!!!!!
IMPORTANT: I need an explanation about how classes prioritize,
example: tried to write the "nav" class next to footer, but
stopped affecting the footer, had to write it next to nav.
Related to point number 1. 
1.- there must be a syntax error or something with higher
specificity, I can't change the "container" class using
.container, only using main.
after copy-pasting a chunk of code, now it works. But I'd still
like to know why sometimes doesn't.
2.- Bookmarks, how do I link them. (I did it with img, is there
a better way?)
3.- Center "Show Answer"
4.- Give ".button" background color (I've seen I can change
the style of each of the buttons in html, but again, sloppy,
probably not the way to do it).
5.- Insert logos in nav bar, fix it to the bottom. Right now
if I use position fixed, it dissappears. Using sticky for
the time being, possible syntaxis problem.
*/
