<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="./styles.css" />
    <script src="js/form.js"></script>
  </head>
  <body>
    <header>
      <h1>Quiz App</h1>
    </header>
    <main id="cardContainer">
      <form class="form" data-js="form" id="myForm">
        <label for="question">Your question</label>
        <textarea
          name="question"
          id="newQuestion"
          cols="30"
          rows="10"
        ></textarea>
        <label for="answer">Your answer</label>
        <textarea name="answer" id="newAnswer" cols="30" rows="10"></textarea>
        <input type="text" id="newTags" />
        <button type="submit" data-js="button-submit">Submit</button>
      </form>
      <section data-js="card-submit" class="question-card"></section>
    </main>
    <footer class="footer">
      <a href="index.html" class="footer__link">
        <img
          class="footer__icon footer__icon"
          src="./assets/home.png"
          alt="home"
        />
      </a>
      <a href="bookmark.html" class="footer__link">
        <img
          class="footer__icon"
          src="./assets/bookmark_transparent.png"
          alt="bookmark"
        />
      </a>
      <a href="form.html" class="footer__link footer__link--active">
        <img class="footer__icon" src="./assets/add_filled.png" alt="add" />
      </a>
      <a href="profile.html" class="footer__link">
        <img class="footer__icon" src="./assets/profile.png" alt="profile" />
      </a>
    </footer>
  </body>
</html>
